:host(clock-widget) {
	height: calc(var(--bar-height) - 16px);
	line-height: calc(var(--bar-height) - 16px);
	border-radius: 6px;
	background: var(--widget-background-color);
    text-align: center;
    color: var(--widget-foreground-color);
    padding: 0px 10px;
    min-width: 22px;
    flex-shrink: 0;
}