:root {
  --background: #fafafa;
  --foreground: #aaa;
  --selected-result-background: #efefef;
  --matched-foreground: #888;
  --shortcut-background: #D85774;
  --shortcut-foreground: #fafafa;
  --query-color: #aaa;
  --query-error-color: #FF4040;
}

body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-size: var(--font-size);
	font-family: var(--font-family);
	user-select: none;
}

:host(search-result) {
	line-height: 20px;
	height: 20px;
	width: 100%;
	color: #bdc3c7;
}

:host(search-result) #background {
	width: 100%;
	height: 100%;
	padding: 0px 10px;
	box-sizing: border-box;
	position: relative;
}

:host(search-result.selected) #background {
	background-color: var(--selected-result-background);
}

:host(search-result) .title {
	font-variant-ligatures: none;
}

:host(search-result) .bold {
	color: var(--matched-foreground);
}

:host(search-result) .shortcut {
	background-color: var(--shortcut-background);
	color: var(--shortcut-foreground);
	border-radius: 3px;
	padding: 0px 3px;
	height: 12px;
	line-height: 12px;
	position: absolute;
	top: 4px;
	right: 4px;
}

:host(run-widget) {
	display: block;
	height: calc(var(--bar-height) - 16px);
	line-height: calc(var(--bar-height) - 16px);
	width: 30px;
	border-radius: 6px;
	position: relative;
	background: var(--run-background-color);
    text-align: center;
    color: var(--run-foreground-color);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 10 10"><path d="M 3 1 l 4 4 l -4 4" style="stroke: %23C5C8A8; stroke-width: 2px; fill: none;" /></svg>');
	background-repeat: no-repeat;
	background-position: center center;
	flex-shrink: 0;
}


:host(run-widget.open) {
	width: 200px;
	background-image: none;
}

#results {
    position: absolute;
    bottom: 41px;	/* 26 (input height + border) + 5 (padding) + 10 (space between bar and results) */
    left: 10px;
    width: 200px;
    max-height: 120px;
    background: var(--background);
    box-sizing: border-box;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
    opacity: 0;
    overflow: scroll;
}

#results::-webkit-scrollbar { display: none }

#input {
	background-color: transparent;
	color: var(--query-error-color);
	position: absolute;
	bottom: 0px;
	left: 20px;
	width: 180px;
	height: 24px;
	line-height: 24px;
	user-select: none;
	z-index: 1;
	overflow: hidden;
}

span.matching { color: var(--query-color); }

.caret {
	position: relative;
}

.caret::after {
	z-index: 2;
	position: absolute;
	top: 0px;
	right: -2px;
	width: 2px;
	height: 100%;
	background-color: var(--query-color);
	content: "";
}