:root {
  --bar-height: 15px; /* change in bar.js */
  --task-bar-height: 15px; /* change in bar.js */
  --font-family: "Gotham Rounded Medium"; /* change in bar.js */
  --font-size: 9px;
/*
  --bar-background-color: #252A33;
  --widget-background-color: #2B303B;
  --widget-shadow-color: #f00;
  --widget-foreground-color: #BCC1C9;
  --workspace-foreground-color: #BCC1C9;
  --workspace-active-foreground-color: #DFE1E8;
  --task-foreground-color: #BCC1C9;
  --task-active-foreground-color: #DFE1E8;
  --run-background-color: #2B303B;
  --run-shadow-color: #f00;
  --run-foreground-color: #4F5B66;
  --track-progress-background-color: #5978FF;
  --track-progress-color: #719FFF;
  --active-indicator-color: #5978FF;
*/
  --bar-background-color: #fafafa;
  --widget-background-color: #efefef;
  --widget-shadow-color: #f00;
  --widget-foreground-color: #aaa;
  --workspace-foreground-color: #aaa;
  --workspace-active-foreground-color: #888;
  --task-foreground-color: #aaa;
  --task-active-foreground-color: #888;
  --run-background-color: #efefef; /*#0E344C;*/
  --run-shadow-color: #f00; /*#002038;*/
  --run-foreground-color: #4F5B66;
  --track-progress-background-color: #F59BB0;
  --track-progress-color: #D85774;
  --active-indicator-color: #D85774;
}

/*  Favorites
					dark		light		lighter
	black			
	blue-black		#1B2025		#2C343D		#0E344C
	blue			#5978FF		#719FFF		#ADD6FF
	red				#FF4040		#FA6367
	green			#27C56D		#4CD964
	peach			#FF9772		#FFBC70

*/

@font-face {
  font-family: 'Mix';
  src: local('Noto Sans Shavian');
  unicode-range: U+10450-1047F;
}

@font-face {
  font-family: 'Mix';
  src: local("Noto Sans JP Medium");
  unicode-range: U+0370-052F, U+0040, U+2E80-9FFF;
}

body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-size: var(--font-size);
	font-family: var(--font-family);
	user-select: none;
}

#bar {
	display: flex;
	height: var(--bar-height);
	width: 100%;
	background: var(--bar-background-color);
	position: absolute;
	bottom: 0px;
	box-sizing: border-box;
	padding-right: 10px;
}

#workspaces {
	display: flex;
	margin: 8px 5px;
	height: calc(var(--bar-height) - 16px);
	line-height: calc(var(--bar-height) - 16px);
	position: relative;
}

tasks-button.visible ~ #taskbar {
	opacity: 1;
}

#taskbar {
	opacity: 1;
	flex-grow: 100;
	overflow: hidden;
    position: relative;
    margin: 0px 5px;
	-webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='36'><rect fill='%23fff' x='0' y='0' width='100%' height='100%'/></svg>"),
	url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='36'><rect fill='%23fff' x='0' y='0' width='100%' height='100%'/></svg>"),
	url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='36'><linearGradient id='gradient'><stop offset='10%' stop-color='%23fff'/><stop offset='90%' stop-color='%2300000000'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
	-webkit-mask-position: left, center, right;
	-webkit-mask-origin: padding-box;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 10px, calc(100% - 19px), 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	height: 36px;
}

#taskbar.scrolled {
	-webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='36'><linearGradient id='gradient'><stop offset='10%' stop-color='%2300000000'/><stop offset='90%' stop-color='%23fff'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>"),
	url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='36'><rect fill='%23fff' x='0' y='0' width='100%' height='100%'/></svg>"),
	url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='36'><linearGradient id='gradient'><stop offset='10%' stop-color='%23fff'/><stop offset='90%' stop-color='%2300000000'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
}

#tasks {
	height: 100%;
	width: calc(100% + 20px);
	margin: 0px -10px 0px -12px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}

#tasks::-webkit-scrollbar { display: none; }

music-widget,
clock-widget,
wifi-widget,
volume-widget,
run-widget,
weather-widget,
battery-widget,
tasks-button {
	margin: 8px 4px;
}
