:host {
	display: block;
	width: 32px;
	height: 100%;
    text-align: center;
/*    font-family: "Noto Sans Shavian"; */
    font-weight: bold;
    position: relative;
    color: var(--workspace-foreground-color);
}

:host(.active) {
	color: var(--workspace-active-foreground-color);
}

.activeindicator {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 4px;
	height: 4px;
	background-color: var(--active-indicator-color);
	border-radius: 2px;
	display: none;
}

:host-context(.populated) > .activeindicator {
	display: block;
}