:host(wifi-widget),
:host(battery-widget),
:host(tasks-button) {
	height: calc(var(--bar-height) - 16px);
    min-width: calc(var(--bar-height) - 16px);
	line-height: calc(var(--bar-height) - 16px);
	border-radius: 6px;
	background: var(--widget-background-color);
    text-align: center;
    color: var(--widget-foreground-color);
    padding: 0px 8px;
    flex-shrink: 0;
}

#icon {
    background: var(--widget-foreground-color);
    height: calc(var(--bar-height) - 12px);;
    width: calc(var(--bar-height) - 12px);;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 14px;
}

#text {
    margin-left: 12px;
}

:host(tasks-button) > #icon {
    -webkit-mask-image: url(../../res/visibility_off-24px.svg);
}

:host(tasks-button.visible) > #icon {
    -webkit-mask-image: url(../../res/visibility-24px.svg);
}

:host(battery-widget) {
    display: flex;
    justify-content: center;
}

:host(battery-widget) > svg {
    margin: auto;
}